
body {
    align-items: center;
    background-color: hsl(218, 23%, 16%);
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Manrope', sans-serif;
    height: 1100px;
    justify-content: center;
    margin: 0 auto;
    width: 375px;
}

.advice-box {
    background-color: rgb(48, 58, 75);
    border-radius: 15px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 50px auto;
    width: 90%;

}

h2 {
    color: hsl(150, 100%, 66%);
    font-size: 10px;
    letter-spacing: 3px;
    padding: 20px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

}

p {
    color: hsl(193, 38%, 86%);
    margin: 7px 0 20px 0 ;
    padding: 0 20px;
    font-size: 22px;
    text-align: center;
    width: 100%;

}

.divider {
    margin: 0 auto;
    width: 85%;
    padding: 20px 20px 5px 20px;
    
}

button {
    background-color: rgba(82, 255, 168, .8);
    border-radius: 50%;
    border: none;
    left: 1px;
    padding: 15px 14px 13px 14px;
    position: relative;
    top: 25px;
    width: 15%;
}

.dice {
    width: 80%;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: ghostwhite; 
}

@media only screen and (min-width:1200px) {
    body {
        height: 1500;
        width: 1440px;
    }
    
    .advice-box {
        width: 35%;
    }

    p {
        font-size: 28px;
    }

    button {
        left: 0;
        padding: 20px 10px;
        top: 35px;
        width: 15%;
    }

    button:hover {
        background-color: rgba(82, 255, 168, 1);
        box-shadow: 0 0 50px 10px rgba(82, 255, 168, .4);
        ;
        cursor: pointer;
    }

    .dice {
        width: 50%;
    }


    .attribution {
        width: 100%;
    }
}
